html {
  background-color: rgb(31, 27, 41);
}

.the-box {
  display: flex;
  background-color: rgba(59, 27, 70, 0.76) !important;
  color: rgb(255, 255, 255);
  margin: 320px;
  height: 300px;
  width: 300px;
  padding: auto;
  position: absolute;
  left: 300px;
}
.the-box,
img {
  box-shadow: 30px 30px 30vh rgba(67, 61, 66, 0.89),
    20px 30px 30px rgba(59, 27, 70, 0.76);
  border: solid 2px;
}
.text {
  width: 300px;
  text-size-adjust: 20px;
  font-size: normal;
  text-align: center;
}
/* Insights decoration */
section {
  display: inline-flex;
  word-spacing: normal;
  text-align: center;
  position: absolute;
  top: 190px;
  left: 20px;
  speak-as: author;
}
section p {
  font-size: x-large;
  position: relative;
  left: 30px;
  top: 20px;
}
section span {
  font-size: x-small;
}

.text h3 {
  display: inline-flex;
  position: absolute;
  right: 45px;
  top: 20px;
  word-spacing: 2px;
}
.get {
  position: relative;
  right: 10px;
}
.insightSpan {
  color: #f04ee5;
  position: relative;
  right: 4px;
  top: 0.9px;
}
.text p {
  position: absolute;
  top: 100px;
  font-size: small;
}
/* Wrtting each paragraphs in the declarations */

.paragprah1 {
  position: relative;
  right: 30px;
}
/* Space */
.image {
  width: 300px;
}
.image img {
  width: 40vh;
  position: absolute;
  left: 298px;
  height: 31vh;
  background-color: rgba(99, 19, 88, 0.89);
}

/* Movinf the things to the side */
.span1 {
  position: relative;
  right: 20px;
  bottom: 20px;
}
.span2 {
  position: relative;
  left: 35px;
  bottom: 20px;
}
.span3 {
  position: relative;
  left: 90px;
  bottom: 20px;
}
